@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kings-regular {
  font-family: "Kings", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}
